<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}


    <div id="content">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ .Content }}
            </div>

          </div>

        </div>
        <details open>
          <summary class="h3"> > 2022年 </summary>
          <div class="row">
            {{ partial "platinum_sponsors.html" . }}
            {{ partial "gold_sponsors.html" . }}
            <!-- {{ partial "silver_sponsors.html" . }} -->
            <!-- {{ partial "bronze_sponsors.html" . }} -->
            <!-- {{ partial "bronze_sponsors_2.html" . }}   -->
          </div>
        </details>
        <details>
          <summary class="h3"> > 2021年 </summary>
          <ul>
          <li> 一志株式会社               
          <li> 株式会社ブイ・クルーズ     
          <li> マルホ発條工業株式会社      
          <li> 株式会社朱雀技研            
          <li> 株式会社Keigan             
          <li> 株式会社エーワンスプリングス 
          <li> 浅田建設株式会社            
          <li> 株式会社ツリーベル化成      
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2020年 </summary>
          <ul>
          <li> 株式会社朱雀技研
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2019年 </summary>
          <ul>
          <li> 株式会社朱雀技研
          </ul>
        </details>
      <!-- /.container -->
    </div>
    <!-- /#content -->
    

    {{ partial "footer.html" . }}


  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>
