<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}


    <div id="content">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ .Content }}
            </div>

          </div>

        </div>
        <div class="row">
          {{ partial "platinum_sponsors.html" . }}
          {{ partial "silver_sponsors.html" . }}
          {{ partial "bronze_sponsors.html" . }}

      </div>
      <!-- /.container -->
    </div>
    <!-- /#content -->
    

    {{ partial "footer.html" . }}


  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>
