{{ if isset .Site.Params "bronze_sponsors" }}
{{ if .Site.Params.bronze_sponsors.enable }}
{{ if gt (len .Site.Data.bronze_sponsors_2) 0 }}

            <div class="col-md-12">
                <!-- <div class="heading text-center">
                    <h2>{{ .Site.Params.bronze_sponsors_2.title | markdownify }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.bronze_sponsors_2.subtitle | markdownify }}
                </p> -->
                <ul class="owl-carousel customers">
                  
                    {{ range .Site.Data.bronze_sponsors_2 }}
                    <li class="item" title="{{ .name }}">
                        <p>
                          {{ .name }}
                        </p>
                        {{ if .url }}
                          <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>
        
{{ end }}
{{ end }}
{{ end }}
