<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}

    <div class="top-info">
      {{/* <center>
        <p>小学生向け「ロボット競技体験会」参加者募集中！</p>
        <p><mark><a href="https://forms.gle/2qbVddUrLYxtqtDu8">
              <font color="#4d4c4c">申込みはこちら</font>
            </a></mark></p>
      </center> */}}
    </div>
    {{ partial "carousel.html" . }}

    <div id="content">

      <div class="container">

        <div class="row">

          <div class="col-md-8">

            {{/* <div class="box">
              <div class="top-info">
                <center>
                  <p>小学生向け「ロボット競技体験会」参加者募集中！</p>
                  <p><mark><a href="https://forms.gle/2qbVddUrLYxtqtDu8">
                        <font color="#4d4c4c">申込みはこちら</font>
                      </a></mark></p>
                </center>
              </div>
              <center>
                <figure>
                  <img src="img/2024/pre-event2024.jpg" width="70%">
                  <figcaption>運営委員による組み立ての様子</figcaption>
                </figure>
              </center>
            </div> */}}

            <div>
              {{ .Content }}
            </div>

          </div>
          <div class="col-md-4">
            <a class="twitter-timeline" data-lang="ja" data-width="433" data-height="800" data-theme="light"
              href="https://twitter.com/kansai_robocon?ref_src=twsrc%5Etfw">Tweets by kansai_robocon</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>

</html>