<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}


    <div id="content">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ .Content }}
            </div>
          </div>

        </div>
        <details open>
          <summary class="h3"> > 2024年 </summary>
          <div class="row">
            <center>
              {{/* {{ partial "diamond_sponsors.html" . }} */}}
              {{ partial "platinum_sponsors.html" . }}
              {{ partial "gold_sponsors.html" . }}
              {{ partial "silver_sponsors.html" . }}
              {{ partial "bronze_sponsors.html" . }}
              {{ partial "special_sponsors.html" . }}
              {{/* {{ partial "kyoryoku.html" . }} */}}
              {{/* {{ partial "bronze_sponsors_2.html" . }} */}}
            </center>
          </div>
        </details>
        <details>
          <summary class="h3"> > 2023年 </summary>
          <ul>
            <li>DIAMOND SPONSORS</li>
            <ul>
              <li>船井電機株式会社</li>
            </ul>
            <li>GOLD SPONSORS</li>
            <ul>
              <li>メニックス株式会社</li>
              <li>一般社団法人 次世代ロボットエンジニア支援機構(Scrambled)</li>
            </ul>
            <li>協力</li>
            <ul>
              <li>ロボティクス勉強会運営会</li>
            </ul>
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2022年 </summary>
          <ul>
            <li>マルホ発條工業株式会社
            <li>日東精工株式会社
            <li>メニックス株式会社
            <li>一般社団法人　次世代ロボットエンジニア支援機構(Scramble)
            <li> 椿本メイフラン株式会社
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2021年 </summary>
          <ul>
            <li> 一志株式会社
            <li> 株式会社ブイ・クルーズ
            <li> マルホ発條工業株式会社
            <li> 株式会社朱雀技研
            <li> 株式会社Keigan
            <li> 株式会社エーワンスプリングス
            <li> 浅田建設株式会社
            <li> 株式会社ツリーベル化成
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2020年 </summary>
          <ul>
            <li> 株式会社朱雀技研
          </ul>
        </details>
        <details>
          <summary class="h3"> > 2019年 </summary>
          <ul>
            <li> 株式会社朱雀技研
          </ul>
        </details>
        <!-- /.container -->
      </div>
      <!-- /#content -->


      {{ partial "footer.html" . }}


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

</body>

</html>